<?xml version="1.0" encoding="utf-8" ?>
<!-- 設定internalLogFile可以得知NLog的內部錯誤，在初始設定時很有幫助 -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="/Users/zhangjiayuan/Desktop/SideProject/dotnetApp/internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- 儲存目標 -->
  <targets>
    <!-- 儲存目標類型為 "資料庫" -->
    <target
      name="database"
      xsi:type="Database"
      dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
      connectionString="Server=localhost; Port=3306; Database=sound; user id=root; password=12345678;"
    >
      <!-- <connectionString>${gdc:item=connectionString}</connectionString> -->
      <commandText>
        INSERT INTO nlogs
        (id, level, message, logger, exceptions, callsite, time)
        VALUES
        (@id, @level, @message, @logger, @exceptions, @callsite, @time);
      </commandText>

      <parameter name="@id" layout="${guid}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callsite" layout="${callsite}" />
      <parameter name="@exceptions" layout="${exception:tostring}" />
      <parameter name="@time" layout="${date}" />
    </target>
  </targets>

  <!-- 規則設定 -->
  <rules>
    <!-- <logger name="*" minlevel="Trace" writeTo="allfile" /> -->

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" /> <!-- BlackHole without writeTo -->
    <!-- <logger name="*" minlevel="Trace" writeTo="ownFile-web" /> -->
    <logger name="*" minlevel="Trace" writeTo="database" />
  </rules>
</nlog>
